*{margin: 0;}
@font-face {
	font-family: 'myFont';
	src: url('../fonts/3_sim.eot');
	src: url('../fonts/3_sim.woff') format('woff'), 
		 url('../fonts/3_sim.ttf') format('truetype'), 
		 url('../fonts/3_sim.svg') format('svg');
}
body{
	color:black;
	font-family:"Microsoft YaHei";
	font-size: 16px;
}	
*, *:before, *:after {
		box-sizing: inherit;
}
.section{
	position:relative;
	text-align: center;
	background: linear-gradient(0deg,#EFEFEF,#fff);
	
}


div.back{
	height:270px;
	background:url("../images/back.jpg");
	background-size: cover;
}
div.info{
	background:rgba(0,0,0,0.6);
	width:100%;
	height:270px;
	position:absolute;
	top:0;
	z-index:3;
}
div.top{
	padding:50px 80px;
}
div.top:after{
	display:block;
	clear:both;
	content:"";
	visibility:
	hidden;
	height:0;
	zoom:1;
}
div.pic{
	width:23%;
	float:left;
}
div.pic img{
	width:100%;
	height:100%;
	opacity: 0.8;
	border:6px solid #d1d1d1;
	border-radius: 50%;
}
div.pic img:hover{
	opacity: 1;
}
div.intro{
	float:left;
	width:77%;
	text-align: left;
	padding-top:10px;
	padding-left:40px; 
}
div.intro p{
	color:#3e99a7;
	font-size: 38px;
	font-family: myFont;
}
div.intro small{
	line-height: 25px;
	color:#d9d9d9;
}
div.header-right ul{
	list-style: none;
	padding-left:30px;
	text-align: left;
	font-size:16px;
}
div.infoBottom{
}

div.container{
	padding-top: 80px;
	width:100%;
}
.section5 div.container{
	padding-bottom: 230px;
} 
h3.title{
    font-size: 30px;
    font-family: myFont;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 35px;
    color: #10A7AF;
    position:relative;
	left:-100%;
}
h3.title:after, h3.title:before {
    border: 4px double #c2c2c2;
    width: 120px;
    display: inline-block;
    content: "";
    margin: 6px 10px;
}
p.para {
    color: #464646;
    line-height: 2.5em;
    text-align: center;
    font-size: 15px;
    width: 75%;
    margin: 0 auto;
    position:relative;
	left:100%;
}
.school{
	display:none;
}
.prize{
	display:flex;
	justify-content:space-around;
	padding:40px 15%;
	position:relative;
	top:300px;
}

.prize div{
	display: flex;
	width:180px;
	height:180px;
	background: rgb(173,190,178);
	padding:20px 10px;
	border-radius: 50%;
	color:white;
	font-size: 16px;
}
.prize div:hover{
	background: rgb(87,105,60);
	flex-shrink:0;
}
.prize div p{
	margin:auto;
}
.one,.two{
	margin:0 auto;
	display:flex;
	justify-content:space-around;
	left: 100%;
	position: relative;
}
.one div:hover,.two div:hover{
	opacity: 0.6;
}
.one{
	padding:3% 15%;
	margin-top: 100px;
}
.two{
	padding:0 22%;
}
.two:before,.two:after{
	position:absolute;
	width:50px;
	height: 50px;
	content:"";
}
.two:before{
	bottom:-40px;
	left:10%;
	border-bottom: 2px solid #5686d6;
	border-left: 2px solid #5686d6;
}
.two:after{
	bottom:-40px;
	right:10%;
	border-bottom: 2px solid #5686d6;
	border-right: 2px solid #5686d6;
}
.one div,.two div{
	padding:10px 20px;
	margin-left:10px;
	margin-right:10px;
}
.html{
	background:#7b9d6c;
}
.css{
	
	background:#9fc38f;
}
.js{
	
	background:#b6d7a8;
}
.c{
	background:#cbeabe;
}
.java{
	background: #e3f2de;
}
.python{
	background:#d9ead3;
}
.bootstrap{
	background:rgb(28,120,135);
}
.jquery{
	background:#5fa6b0;
}
.tornado{
	background:#8ab5bd;
}
.fullpage{
	background:#bbd5d9;
}
.nodejs{
	background:#d0e0e3;
}
.angularjs{
	background:#e4f2f4;
}


.pro_content{
	width:70%;
	height:320px;
	position:relative;
	background:white;
	margin:0 auto;
	margin-top: 30px;
	padding:0px 80px;
	box-shadow: 4px 4px 8px rgba(0,0,0,0.2);
}
.item{
	text-align: left;
	width:100%;
	padding-right:30%;
	height: 320px;
	background-position: 100%;
	background-repeat: no-repeat;
	background-size:30%;
}
.item .text{
	padding:30px 20px;	
}
.item ul{
	margin-top: 15px;
}
.item ul li{
	line-height: 28px;
	font-size: 15px;
}
.item1{
	background-image:url("../images/4.jpg");
}
.item2{
	background-image:url("../images/6.jpg");
}
.item3{
	background-image:url("../images/8.png");
}
.item2,.item3{
	display:none;
}
.item_to_left{
	position:absolute;
	left:3%;
	top:45%;
}
.item_to_right{
	position:absolute;
	right:3%;
	top:45%;
}
.item_to_left img,.item_to_right img{
	opacity: 0.3;
	cursor: pointer;
}
.item_to_left img:hover,.item_to_right img:hover{
	opacity: 0.8;
	width:20px;
}
footer{
	background:#333;
	width:100%;
	height:230px;
	position:absolute;
	bottom:0;
	margin-top:20px;
	padding:10px 50px;
}
footer ul{
	list-style: none;
	width:100%;
	display:flex;
	justify-content:space-around;
}
footer p{
	color:#d9d9d9;
	margin: 20px 0px;
	font-size:16px;
}
footer span{
	color:#777;
	margin-bottom: 20px;
	font-size:14px;
}
footer ul li{
	display:inline-block;
}
a{
	text-decoration: none;
	color:#777;
}
a:hover{
	color:white;
}
div.end{
	color:#777;
	font-size: 15px;
	padding-top: 40px;
	text-transform: uppercase;
	display:none;
}
@media (max-width: 1566px){
	.header-left {
		float: left;
		width: 63%;
	}
}
@media (max-width: 1260px){
	.header-left {
		float: left;
		width: 55%;
	}
	div.pic{
		width:27%;
	}
	div.intro{
		width:73%;
	}
	div.intro p{
		font-size:30px;
	}

}
@media (max-width: 1080px){
	div.top{
		padding:50px 40px;
	}
	div.intro p{
		font-size:30px;
	}

}
@media (max-width: 991px){
	.header-left {
		float: left;
		width: 45%;
	}
	div.pic{
		width:40%;
	}
	div.intro{
		width:60%;
	}
	div.intro p{
		font-size:25px;
	}
}
@media (max-width: 850px){
	div.pic{
		width:45%;
	}
	div.intro{
		width:55%;
	}
	div.intro p{
		font-size:22px;
	}

}
@media (max-width: 768px){
	.header-left {
		float: left;
		width: 100%;
	}
	div.pic{
		margin:auto;
		float:none;
		width:130px;
	}
	div.intro{
		width:100%;
		text-align: center;
		padding:10px 0px; 
	}
	div.intro p{
		font-size:20px;
	}
	div.top{
		padding:20px 10px;
	}
	.one,.two{
		flex-direction:column;
	}
	.two:before,.two:after{
		border:none;
	}
	.pro_content{
		width:100%;
		padding:0px 40px;
	}
}
@media (max-width: 480px){
	div.back,div.info{
		height:250px;
	}
	h3.title{
		margin-bottom: 15px;
	}
	h3.title:after, h3.title:before {
    	width: 60px;
	}	
	p.para {
		width:90%;
		font-size: 13px;
	}
	.one,.two{
		transform:scale(0.8,0.8);
		margin-top: 0px;
		padding:0 15%;
	}
	div.container{
		padding-top: 30px;
	}
	.prize{
		padding: 0;
		margin-top:20px;
	}
	.prize div{
		border:1px solid white;
		border-radius:3px;
		font-size:14px;
		padding:10px 10px;
	}
	.section5 div.container{
		padding-bottom: 150px;
	} 
	footer{
		height:150px;
		padding:10px 40px;
	}
	footer ul{
		flex-wrap:wrap;
		flex-direction:column;
		padding-left:0px;
		margin:0 auto;
		text-align: left;
	}
	footer p{
		margin:0px;
		width:40%;
		font-size:13px;
		display:inline-block;
		margin: 0px;
	}
	footer li:nth-child(4){
		display:none;
	}
	footer span{
		font-size:13px;
		margin: 0px;
	}
	footer ul li{
		height:1.5em;
	}
	div.end{
		font-size:10px;
		padding-top: 15px;
	}
	
	.item{
		padding-right:0%;
		background: white;
		text-align:center;
	}
	.item .text{
		padding:30px 0px;	
	}

	.item ul{
		margin-top: 15px;
		text-align:left;
		padding-left:20px;
	}
	.item ul li{
		line-height: 20px;
		font-size: 13px;
		margin-bottom:5px;
	}

}
